@charset "UTF-8";

@font-face {
  font-family: 'Lato';
  src: local('Lato Light'), local('Lato-Light'),
  url('../../fonts/lato-300-normal.woff2') format('woff2'),
  url('../../fonts/lato-300-normal.woff') format('woff'),
  url('../../fonts/lato-300-normal.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
